========== building files ==========
.idea/*
.gitignore___jb_old___
/__pycache__/*
*.py___jb_old___

========== attachments ==========
attachments/*
!attachments/file_name.png

========== tests ==========
tests/*
!tests/files_for_test.py

========== secrets ==========
secrets/*
.env
!secrets/secret_file.json

========== logs ==========
*.log
log.*
